In [58]:
'''Tuple Operations and Methods
IF-5-k
Yash Ramesh Jadhav'''

'Tuple Operations and Methods\nIF-5-k\nYash Ramesh Jadhav'

In [59]:
mt=()
print(mt)
print(type(mt))

()
<class 'tuple'>

In [60]:
mt=(11,77,33,44,55,66,77,77,99)
print(mt[2:5])
print(mt[:4])
print(mt[4:])

(33, 44, 55)
(11, 77, 33, 44)
(55, 66, 77, 77, 99)

In [61]:
tup1=("ULTIMATE")
tup2=("PYTHON")
print(tup1+tup2)

ULTIMATEPYTHON

In [62]:
tup3=("YASH")
print(len(tup3))

4

In [63]:
print("Number of times 77 in mt= ",mt.count(77))

Number of times 77 in mt=  3

In [64]:
tup4=('A','P','P','L','E')
print("Index of P= ",tup4.index('P'))#prints index of first occuring P

Index of P=  1

In [65]:
tup5 = (25, 8, 1, 2)
print("Minimun value:" ,min(tup5)) 
print("Maximum value:",max(tup5))

Minimun value: 1
Maximum value: 25

In [66]:
tup6 = (4, 6, 8)
print(sum(tup6))

18

In [67]:
names=('YASH','EVAA','SHAURYA','SHIV')
print('EVAA'in names)

True

In [68]:
print("*--------------------SET METHODS and OPERATIONS------------------------*")

*--------------------SET METHODS and OPERATIONS------------------------*

In [69]:
my_set={'hello',123}
print(my_set)

{123, 'hello'}

In [70]:
ms=set() #this creates empty set if we just use {} the it will create empty Dictionary

In [71]:
ms=set([10,20,30]) #we can create set from list
print(ms)

{10, 20, 30}

In [72]:
print(ms)

{10, 20, 30}

In [73]:
ms.add(3)
print(ms)

{10, 3, 20, 30}

In [74]:
ms.update([34,56,77])
print(ms)

{34, 3, 10, 77, 20, 56, 30}

In [75]:
ms.discard(3)
print(ms)

{34, 10, 77, 20, 56, 30}

In [76]:
ms.remove(77)
print(ms)

{34, 10, 20, 56, 30}

In [77]:
ms1={'H','E','L','L','O'}
print(ms1.pop())

H

In [78]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print("Union: ",A|B)
print("Intersection: ",A&B)
print("Difference: ",A-B)
print("Difference: ",B-A)
print("Symmetric Difference: ",A^B)

Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Intersection:  {4, 5}
Difference:  {1, 2, 3}
Difference:  {8, 6, 7}
Symmetric Difference:  {1, 2, 3, 6, 7, 8}

In [79]:
ms2=set("apple")
print('a' in ms2)
print('y' not in ms2)

True
True

In [80]:
for i in set("apple"):
    print(i)

l
p
e
a

In [1]:
print("*--------------------LIST METHODS and OPERATIONS------------------------*")

*--------------------LIST METHODS and OPERATIONS------------------------*

In [3]:
ml=[]
print("Empty list- ",my_list)

Empty list-  []

In [4]:
ml=[10,20,30,40,50]
print("Negative Indexing- ",ml[-1])

Negative Indexing-  50

In [7]:
n_list=['P','Y','T','H','O','N','P','R','O','G']
print("Slicling:- \n ",n_list[1:3],n_list[:3],n_list[3:],n_list[:-5])

Slicling:-
  ['Y', 'T'] ['P', 'Y', 'T'] ['H', 'O', 'N', 'P', 'R', 'O', 'G'] ['P', 'Y', 'T', 'H', 'O']

In [10]:
data=["Yash",22110220457,227,88.24,25,"IF"]
for i in data:
    print(i)

Yash
22110220457
227
88.24
25
IF

In [11]:
list=['OOP','DSU',1995,2000]
list.append(18899)
print(list)

['OOP', 'DSU', 1995, 2000, 18899]

In [12]:
list.insert(2,'Java')
print(list)

['OOP', 'DSU', 'Java', 1995, 2000, 18899]

In [15]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
print("Sum of L1= ",sum(l1))

Sum of L1=  55

In [1]:
c_list=[1,2,3,1,2,1,2,3,1,2,1]
print("Count of 1: ",c_list.count(1))

Count of 1:  5

In [4]:
print("Index of 2: ",c_list.index(2))
print("Index of (Second Occurence)2: ",c_list.index(2,2))

Index of 2:  1
Index of (Second Occurence)2:  4

In [5]:
m_list=[2.3,4,4.45,3,5.33,1.054,2.5]
print("Minimum element: ",min(m_list))

Minimun element:  1.054

In [6]:
print("Maximum element: ",max(m_list))

Maximum element:  5.33

In [10]:
vowels=['e','a','u','o','i']
vowels.sort()
print("Sorted List- ",vowels)
vowels.sort(reverse=True)
print("Sorted List(descending order)- ",vowels)

Sorted List-  ['a', 'e', 'i', 'o', 'u']
Sorted List(descending order)-  ['u', 'o', 'i', 'e', 'a']

In [12]:
print(m_list.pop())
print(m_list.pop(0))

1.054
2.3

In [14]:
del m_list[0]
print(m_list)

[3, 5.33]

In [16]:
m_list.remove(3)
print(m_list)

[5.33]